<!-- ============================
    Enlace a la Página Principal
        ============================ -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pagina_principal' %}">
            <i class="fas fa-home me-1"></i> Inicio
        </a>
    </li>
    
    <!-- ============================
        Enlace para Iniciar Sesión
            ============================ -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login_usuario' %}">
            <i class="fas fa-door-open me-1"></i> Iniciar Sesión
        </a>
    </li>
    
    <!-- ============================
        Enlace para Registrarse
            ============================ -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'registro_usuario' %}">
            <i class="fas fa-user-plus me-1"></i> Registrarse
        </a>
    </li>
    
    <!-- ============================
        Enlace al Blog
            ============================ -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'blog' %}">
            <i class="fas fa-user-plus me-1"></i> Blog
        </a>
    </li>
    

