{% extends "base.html" %}

{% block title %}Reportes Gráficos{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Reportes Gráficos</h2>
    <canvas id="reporteGrafico"></canvas>
</div>
<script>
    // JavaScript para mostrar el gráfico
    const ctx = document.getElementById('reporteGrafico').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: '{{ titulo }}',
                data: {{ datos|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
    });
</script>
{% endblock %}
